@model int
<head>
    <link rel="stylesheet" href="~/Content/lightbox.css"/>
</head>
<div id="container" class="gallery-container">
    @{ Html.RenderPartial("_GalleryItem", TempData["ImagesWhenNotAjax"]); }
</div>

<div class="gallery-pages">
    @for (int i = 1; i <= Model; i++)
    {
        <div>
            @Ajax.ActionLink(i.ToString(), "List", new { index = i}, 
                new AjaxOptions{UpdateTargetId = "container", InsertionMode = InsertionMode.Replace}, 
                new {@class="btn"})
        </div>
    }
</div>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/lightbox.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")